<%- if @post.id.nil? %>
	<h2>Новый пост</h2>
<% else %>
	<h2>Редактирование поста <%= @post.title %></h2>
<% end %>
<%= form_for @post , html: {class: "new_post_form"} do |f| %>
<%= f.label 		:title, 'Заголовок' 	%>
<%- if !@post.id.nil? %>
	<%= f.hidden_field :id %>
<%- end %>
<%= f.text_field 	:title	%><br />
<br />

<%= f.label 		:text, 'Текст' 	%>
<%= f.text_area 	:text,:class => "tinymce",rows:10 	%><br />
<%= tinymce %>

<%- if @post.id.nil? %>
	<%= f.submit "Создать" %>
<% else %>
	<%= f.submit "Сохранить" %>
<% end %>
<% end %>